@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;} /* remember to define focus styles! */ :focus{outline:0;} body{line-height:1;color:black;background:white;} ol,ul{list-style:none;} /* tables still need 'cellspacing="0"' in the markup */ table{border-collapse:separate;border-spacing:0;} caption,th,td{text-align:left;font-weight:normal;} blockquote:before,blockquote:after,q:before,q:after{content:"";} blockquote,q{quotes:"" "";}
html{width:100%;height:100%;margin:0;padding:0;background:rgb(255,255,255);font-family:"Trebuchet MS", "Arial";}
body{width:100%;height:100%;margin:0;padding:0;overflow-y:scroll;min-width:500px;}

/*GENERAL*/
.section{display:block;}
.h{display:none;}
.center{text-align:center;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:1px;width:100%;}
.togglable{visibility:hidden;}
.togglable:hover{visibility:visible;}
.thumb{vertical-align:middle;display:inline-block;line-height:1em;}
.green{color:green;}
.red{color:red;}
.error{color:red;text-align:center;}
strong{font-weight:bold;}
em{font-style:italic;}
hr.clear{border:none;}
.empty{font-size:0.8em;font-style:italic;color:#888;}

.button{background:#ddd;font-size:12px;font-family:inherit;margin-top:5px;padding:5px 5px 3px 5px;display:inline-block;vertical-align:middle;text-align:left;text-decoration:none;color:black;border:1px #666 solid;background:-webkit-linear-gradient(top,rgb(245,245,245) 0,rgb(220,220,220) 100%);background:-moz-linear-gradient(top,rgb(245,245,245) 0,rgb(220,220,220) 100%);}
.button:hover,.button:focus{outline:none;background:-webkit-linear-gradient(top,rgb(145,145,145) 0,rgb(120,120,120) 100%);background:-moz-linear-gradient(top,rgb(145,145,145) 0,rgb(120,120,120) 100%);color:#fff;}
.button.active{outline:none;background:-webkit-linear-gradient(top,rgb(108,169,196) 0,rgb(89,127,153) 100%);background:-moz-linear-gradient(top,rgb(108,169,196) 0,rgb(89,127,153) 100%);color:#fff;}
.button.inactive{color:#666;border:1px #aaa solid;background:-webkit-linear-gradient(top,rgb(255,255,255) 0,rgb(235,235,235) 100%);background:-moz-linear-gradient(top,rgb(255,255,255) 0,rgb(235,235,235) 100%);}
/*
.button{box-shadow:1px 1px 3px rgba(0,0,0,0.6);}
.button:hover,.button:focus{outline:none;box-shadow:inset 1px 1px 3px rgba(0,0,0,0.6);padding:6px 4px 4px 6px;}
*/

/*Folders*/
.folder_view {border-spacing:0;width:100%;margin-bottom:10px;}
.folder_view a{display:block;text-decoration:none;color:#333;}
.folder_view a:hover{color:#00f;}
.folder_view th{text-align:left;}
.folder_view tr.odd{background:#eee;}
.folder_view td, .folder_view th{overflow:hidden;padding:5px;}
.folder_view .folder_header{background:#7B8089;color:white;font-size:0.8em;}
.folder_view .a, .folder_view .b, .folder_view .c, .folder_view .d{border-right:1px solid #ddd;}
.folder_view .a{width:52%;}
.folder_view .b{width:20%;min-width:70px;}
.folder_view .c{width:20%;min-width:80px;}
.folder_view .d{width:10%;min-width:75px;}
.folder_view .e{width:10%;min-width:75px;}
.folder_view .empty{color:#888;background:#eee;text-align:center;}

.icons_view{text-align:center;}
.icons_view .node{position:relative;display:inline-block;vertical-align:top;margin:5px;font-size:0.8em;}
.icons_view .node > a{display:inline-block;margin:10px;width:90px;color:#444;text-decoration:none;border-radius:10px;outline:none;padding:5px}
.icons_view .node > a:hover{margin:9px;border:1px solid #aaa;}
.icons_view .node > a:active{background:#ddf;}
.icons_view .node > a:focus{background:#ddf;margin:9px;border:1px solid #aaf;}
.icons_view .thumb{display:block;}
.icons_view .infos{display:none;opacity:0.8;position:absolute;text-align:left;left:-30px;width:170px;background:#888;color:#fff;font-size:10px;}
.icons_view .infos .triangle{position:absolute;top:-15px;left:70px;width:0;height:0;font-size:0px;line-height:0%;border-right:15px solid rgba(255,255,255,0);border-bottom:15px solid #888;border-left:15px solid rgba(255,255,255,0);}
.icons_view .infos a{display:block;text-align:center;margin:5px;padding:3px;font-size:13px;color:#000;text-decoration:none;background:#ddd;}
.icons_view .infos a:hover{background:#fff;}
.icons_view .infos p{padding:5px;margin:0;}

.preview_view{padding:10px;}
.preview_view .element{padding:10px;clear:both;border-bottom:1px solid #eee;min-height:64px;}
.preview_view .element:hover{background:rgba(240,240,240,0.5);}
.preview_view .element:first-child{border-top:1px solid #eee;}
.preview_view .head{display:inline-block;font-weight:bold;padding-left:10px;}
.preview_view article{padding:5px 10px;}


/*BODY*/
.board{width:100%;height:100%;}
#main_menu{background:rgb(123,128,137);height:30px;color:#333;}
#main_header{height:30px;background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgb(255,255,255)),to(rgb(235,235,235)));}
#application{min-height:400px;}
#main_footer{height:28px;border:none;border-top:1px dashed #999;background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgb(220,220,220)),to(rgb(200,200,200)));}



#main_menu form{display:block;float:left;width:230px;}
#main_menu .search{display:block;height:30px;}
#main_menu .search input{margin:2px 0 3px 8px;color:#333;background:#fff;outline:none;width:170px;padding:1px 5px;vertical-align:middle;border-radius:5px;border:none;}
#main_menu .search input[type=submit]{visibility:hidden;}
#main_menu .search input[type=image]{background:none;vertical-align:middle;opacity:0.8;cursor:pointer;border:none;width:25px;height:25px;margin:3px 2px;padding:0;}
#main_menu .search input[type=image]:hover{opacity:1;}
#main_menu .tools_tab{float:right;text-align:right;font-size:14px;line-height:14px;padding-right:5px;color:rgb(210,210,210);}
#main_menu .tools_tab a{vertical-align:middle;font-size:15px;display:inline-block;color:rgb(255,255,255);text-decoration:none;padding:2px 4px;}
#main_menu .tools_tab a:hover{background:rgba(0,0,0,0.2);}
#main_menu .tools_tab img{vertical-align:middle;}
#main_menu .tools_tab span{display:inline-block;vertical-align:middle;}


#main_header td{border-bottom:1px solid #ddd;}
#main_header .location{float:left;color:#999;font-size:14px;padding-left:10px;}
#main_header .location a{display:inline-block;vertical-align:middle;height:22px;padding:4px 20px 6px 0;border:none;margin:0;color:#999;text-decoration:none;background:url(../images/menu-separator.png) no-repeat right;}
#main_header .location a:hover{color:#843;}
#main_header .location .active{color:#843;font-weight:bold;font-size:17px;background:none;}
#main_header .side{float:right;display:inline-block;font-size:13px;padding-right:10px;padding-top:9px;}
#main_header .side .time{font-style:italic;cursor:default;}
#main_header i{color:#999;}


#application .header{display:block;border:none;border-bottom:1px dashed #ddd;background:#fff;padding:10px 20px;font-size:12px;color:#333;}
#application .header p{margin:0;padding:2px;}
#application .separator{background:#7B8089;padding:5px;font-weight:bold;text-align:center;color:white;}

#main_footer p{margin:8px 10px;font-size:10px;}

.layout1{width:100%;height:100%;}
.layout2{width:100%;}

/*Generic*/
article{display:block;overflow:hidden;padding:30px 45px;font-size:14px;}
article h1{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.8em;margin:0 0 20px 0;text-align:center;}
article h2{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.6em;margin:0 0 0.5em;border-bottom:1px solid #555;}
article h3{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.4em;margin:0 0 5px 25px;}
article h4{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.3em;margin:0 0 5px 25px;}
article h5{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.2em;margin:0 0 5px 0;}
article p{line-height:1.2em;padding:0.2em 0;}
article a{color:inherit;}
article ul{margin:0.5em 0 0.5em 2em;list-style:square;}

hr.clear{margin:20px;border:none;}

.image_preview{position:relative;display:inline-block;line-height:0.8em;}
.image_preview img{width:100%;}
.image_preview p{display:none;position:absolute;bottom:0px;background:rgba(0,0,0,0.7);color:#fff;padding:10px;width:100%;box-sizing:border-box;}
.image_preview:hover p{display:block;}
.image_preview p:empty{display:none;}

.video_preview{width:100%;max-height:300px;margin-bottom:0.7em;}

.keywords{text-align:center;color:#bbb;font-size:0.9em;padding:10px;}
.keywords a{color:#bbb;text-decoration:none;}
.keywords a:hover{color:#aaa;text-decoration:underline;}

#edition{vertical-align:top;padding:20px;}
#edition h2{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.6em;margin:0 0 0.5em;border-bottom:1px solid #555;}
#edition form{display:block;width:100%;height:100%;padding:0;margin:0;}
#edition .title, #edition .media_url, #edition .content, #edition .tags, #edition .override_view, #edition .index_num {display:block;width:100%;padding:0;margin:10px 0;border:none;}
#edition input.title, #edition input.media_url, #edition input.tags, #edition input.override_view, #edition input.index_num{margin:10px 0;outline:1px solid #999;outline-offset:5px;}
#edition textarea.content{height:95%;resize:none;outline:1px solid #999;outline-offset:5px;}
#edition label.content{display:none;}
#edition .flowing > td{padding:5px 0 0;}
#edition input[type=submit], #edition .center .button{display:inline-block;padding:5px;line-height:1.6em;width:200px;margin:20px;text-align:center;outline:none;border:1px solid #666;}
#edition input.form_error{outline:1px red solid;}
.form_error_msg{color:red;padding:3px;}
#edition .edition_table{width:100%;height:100%;}
#edition .edition_table .line{height:30px;}
#edition .permissions .box td{border-bottom:1px solid #ddd;}
#edition .permissions .active td{background:#eee;}
#edition .permissions td{width:8%;max-width:80px;text-align:center;}
#edition .permissions input[type=checkbox]{width:50px;height:30px;vertical-align:middle;}
#edition .permissions td:first-child{width:15%;max-width:200px;text-align:left;padding-left:10px;}
#edition .permissions .box .button{width:80px;padding:5px;vertical-align:middle;margin:0;}

#confirm{vertical-align:top;padding:20px;}
.tree_view ul{margin:5px 0 5px 30px;border-left:1px solid #ccc;}
.tree_view li{margin:5px;}
.tree_view a{padding:4px 4px 2px;width:130px;}

/*Login*/
#application .login_menu{width:350px;padding:20px;margin:auto;background:#eee;}
#application .login_menu label{display:inline-block;width:110px;vertical-align:middle;text-align:right;margin-right:5px;}
#application .login_menu input[type=text],#application .login_menu input[type=password]{display:inline-block;width:220px;padding:5px;}
#application .login_menu .button{display:block;}
#application .login_menu input[type=submit],#application .login_menu input[type=reset]{display:inline-block;width:150px;margin:10px;text-align:center;}
#application .login_menu hr{margin:20px 0 25px;border:1px solid #fff;}


#aside{width:160px;height:100%;padding:0 15px 20px;vertical-align:top;text-align:right;border-left:1px solid #eee;}
#aside .button{display:block;}
#aside .section{margin:10px 0 0;padding:0;font-size:16px;border-bottom:1px solid #ddd;}
#aside .preview{text-align:center;}
#aside .preview .thumb{margin:20px;}
#aside .comment{text-align:center;color:#999;font-size:0.8em;margin-top:10px;}
#aside .permission b{font-size:13px;}

/*Errors are not displayed if not asked for*/
#errors{position:fixed;width:50%;min-width:400px;top:0;left:25%;opacity:0.8;text-align:center;}
#errors p{cursor:pointer;border:1px dashed #ddd;background:#FF0;color:red;font-size:12px;margin:6px auto;padding:2px;}
#errors .buttons{}

#treeview{width:160px;min-width:160px;height:100%;padding:0 15px 20px;vertical-align:top;border-right:1px solid #eee;}
#treeview .section{margin:10px 0 0;padding:0;font-size:16px;border-bottom:1px solid #ddd;}
#treeview a.button{display:block;}


.configuration{padding:20px;}
.configuration h2{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.2em;margin:0.5em 0 0.5em;border-bottom:1px solid #555;}
.configuration h2:first-child{margin-top:0;}
.configuration .button{width:150px;}

.configuration .sessions{width:100%;}
.configuration .sessions td, .configuration .sessions th{border-bottom:1px solid #eee;padding:5px;}
.configuration .sessions .active{background:#ddd;}


/*DEGUG*/
/*{outline: 1px dashed red !important;}/**/

