

#application .profile{padding:20px;display:block;margin:auto;width:750px;}
#application .profile .avatar{width:140px;height:140px;display:inline-block;vertical-align:top;margin:10px;border:1px solid #fff;}
#application .profile .avatar img{max-width:100%;max-height:100%;}
#application .profile .general{display:inline-block;width:560px;padding:10px;}
#application .profile .username{font-size:25px;}
#application .profile h2{font-size:20px;border-bottom:1px solid #555;}
#application .profile .general p{border-bottom:1px solid #ddd;}
#application .profile .general p label{display:inline-block;width:200px;font-weight:bold;}
#application .profile .general p span{display:inline-block;}
#application .profile .details{padding:1px 20px;background:#fff;}
#application .profile .gallery img {margin:10px;}

#application .media{text-align:center;}

#application .subscribe{padding:5px;}
#application .subscribe h2{margin-top:0;font-size:20px;}
#application .subscribe label{display:inline-block;width:100px;padding-top:5px;margin-left:250px;}
#application .subscribe input{width:250px;border:1px solid #fff;background:#fff;color:rgb(138,91,51);font-size:12px;padding:5px;}
#application .subscribe input[type=submit]{background:#aaf;border-radius:15px;color:#000;margin-left:350px;margin-top:20px;cursor:pointer;}
#application .subscribe .form_error{display:inline-block;color:red;margin-left:10px;}
#passwd_error{text-align:center;color:red;}

#application .session_manager h2{margin-top:0;font-size:18px;text-align:center;color:#346;}
#application .session_manager{font-size:12px;}
#application .session_manager .session{height:23px;padding:3px;margin:5px;display:block;overflow:hidden;cursor:default;background:rgb(200,200,200);background:rgba(255,255,255,0.5);border-radius:13px;}
#application .session_manager .session:hover{background:rgb(255,255,255);}
#application .session_manager .session.active{background:rgb(255,161,57);padding-top:5px;padding-bottom:1px;}
#application .session_manager .a,.b,.c,.d,.e,.f,.g,.h,.buttons{white-space:nowrap;display:inline-block;overflow:hidden;vertical-align:middle;}
#application .session_manager .a{width:62px;}
#application .session_manager .b{width:90px;font-weight:bold;}
#application .session_manager .c{width:95px;padding-left:5px;}
#application .session_manager .d{width:100px;font-weight:bold;}
#application .session_manager .e{width:68px;padding-left:5px;}
#application .session_manager .f{width:510px;font-weight:bold;font-size:9px;}
#application .session_manager .g{width:40px;padding-left:20px;}
#application .session_manager .h{width:60px;font-style:italic;}
#application .session_manager .buttons{width:80px;line-height:0;text-align:right;}




/*Blog*/
#application .blog .page_link{display:block;padding:4px;text-decoration:none;color:#444;font-size:16px;}
#application .blog .page_link:hover{color:#000;background:#efefef;}
#application .blog .page_link .togglable{color:#555;font-style:italic;font-size:0.8em;}
#application .blog .page_link:hover .togglable{visibility:visible;}


/*TinyMCE and custom node editor*/
#application .editor{padding:5px 0;}
#application .editor label{padding:5px;margin:10px;}
#application .editor input{padding:5px;}
#form_title{width:600px;margin-right:25px;}
#form_tags{width:700px;}
#form_content{width:974px;height:350px;margin:auto;resize:none;}
#application .editor .node_type{display:inline-block;}
#application .editor .form_submit{font-weight:bold;width:140px;}
#application .editor .form_error{font-weight:bold;color:red;}
#application .editor .tabs{text-align:center;background:#fff;margin:10px;}
#application .editor .tabs .tab{}
#application .editor .tabs .tab_title{height:27px;width:100%;padding-top:3px;cursor:pointer;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(230, 230, 230)));border:1px solid rgb(200, 200, 200);border-bottom:none;}

#application .editor .node_tree{height:222px;overflow-x:scroll;text-align:left;background:#f0f0f0;padding:0;margin:0;border-top:1px solid #aaa;}
#application .editor .node_tree ul{display:inline-block;height:200px;width:200px;background:#fff;overflow-y:scroll;padding:0;margin:0;}
#application .editor .node_tree li{display:block;border-bottom:1px solid #aaa;padding:3px;margin:0;cursor:pointer;}
#application .editor .node_tree .active{background:rgb(198,232,255);}
#application .editor .node_tree .addable{color:#006;}
#application .editor .node_tree .selected{background:rgb(162,190,255);}

#application .editor .node_permissions{width:100%;font-size:13px;}
#application .editor .node_permissions h1{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:2em;margin:0 0 10px 0;text-align:center;}
#application .editor .node_permissions h2{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.7em;margin:0 0 7px 25px;}
#application .editor .node_permissions h3{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.5em;margin:0 0 5px 25px;}
#application .editor .node_permissions h4{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.4em;margin:0 0 5px 25px;}
#application .editor .node_permissions h5{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.3em;margin:0 0 5px 0;}
#application .editor .node_permissions h6{color:#333;text-shadow:#bbb 1px 1px 3px;font-size:1.2em;margin:0 0 5px 0;}
#application .editor .node_permissions .node_infos{padding:10px;text-align:left;}
#application .editor .node_permissions .permission_list{width:550px;display:inline-block;vertical-align:top;}
#application .editor .node_permissions .permission_title{}
#application .editor .node_permissions .permission_title .title{width:285px;display:inline-block;}
#application .editor .node_permissions .permission_title .title .ownership{float:right;width:70px;text-align:center;padding-top:6px;}
#application .editor .node_permissions .permission_title .lib{width:51px;text-align:center;display:inline-block;}
#application .editor .node_permissions .permission_title .bperm{width:50px;height:24px;display:inline-block;text-align:right;vertical-align:middle;}
#application .editor .node_permissions .permission_element{background:#ddd;border-radius:28px;padding:2px 5px;margin:2px;padding-left:20px;}
#application .editor .node_permissions .permission_element .name{width:261px;display:inline-block;}
#application .editor .node_permissions .permission_element .name .ownership{float:right;width:70px;text-align:center;}
#application .editor .node_permissions .permission_element .cbox{width:50px;height:24px;display:inline-block;border-left:1px dashed #999;text-align:center;vertical-align:middle;}
#application .editor .node_permissions .permission_element .cbox_Inherit{width:50px;height:24px;display:inline-block;border-left:1px dashed #999;border-right:1px dashed #999;text-align:center;vertical-align:middle;}
#application .editor .node_permissions .permission_element .bperm{width:50px;height:24px;display:inline-block;border-left:1px dashed #999;text-align:right;vertical-align:middle;}
#application .editor .node_permissions #users_list{display:none;width:405px;min-height:20px;}
#application .editor .node_permissions #users_list ul{margin:0;}
#application .editor .node_permissions #users_list li{display:block;padding:3px;cursor:pointer;}
#application .editor .node_permissions #users_list li:hover{background:#BCD4FF;}
#application .editor .node_permissions #users_list .odd{background:#ddd;}

#application .editor .data {padding:10px 30px;width:533px;margin:auto;}
#application .editor .data #data_list{vertical-align:top;margin:auto;padding:0;}
#application .editor .data #data_list li{padding:4px 10px;background:rgb(242,245,211);margin:2px;list-style:none;border-radius:14px;}
#application .editor .data #data_list li .buttons{line-height:0;float:right;margin-top:-1px;}
